a {
    text-decoration: none;
    color: #E5E7EB;
}

body {
    display: flex;
    flex-direction: column;
    background: white;    
    min-height: 100vh;
    text-align: center;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.section {
    padding: 2em 6em;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 4px 12px;
}

.header, .footer {
    background: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    flex-direction: column;    
    align-items: space-between;    
}

.header-logo {
    font-size: 24px;    
}

.header-top, .header-bot {
    display: flex;
    justify-content: space-between;    
    gap: 1em;
    margin-bottom: 3em;
}

.header-botleft {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    gap: .5em;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.footer {
    padding: 12px 0px;
}

.info {
    color: #1F2937;
    flex: 1;
}

p {
    text-align: left;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.author {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
}

.quote {
    background: #E5E7EB;
    color: #1F2937;   
}

.top-img {
    width: 500px;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
}

.big-button {
    width: 800px;    
    background-color: #3882f6;
    color: white;    
    padding: 2em 5em;
    border-radius: 30px;
}

.white-border {    
    border-color: #E5E7EB;
}

.big-button-content {
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.action-bold {
    font-size: 24px;
    font-weight: bold;
}

.action-reg {
    font-size: 18px;
}